[Unit]
Description=Google Drive Sync on Login
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=%h/.dotfiles/lib/scripts/gsync/gsync.sh
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target

